body{
    background-color: #234957;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: hsl(0, 0%, 20%);
    /* margin-left: 360px;
    margin-right: 300px; */

}